*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
.gemini/
/rafiq-android.zip
/java_pid16716.hprof
/logcat.txt
/parens.txt
/brackets.txt
/test_compile.kt
/test_semantics.kt
/inject_strings.ps1
/inject_strings.py
/allow_post_updates.sql
/create_followers_table.sql
/create_notifications_table.sql
app/build/
designsystem/build/
